---
import ProjectLinks from './ProjectLinks.astro';

interface Props {
  title: string;
  img: string;
  imgAlt: string;
  github: string;
  site: string;
}

const { title, img, imgAlt, github, site } = Astro.props;
---

<section class='pb-40'>
  <div class='flex justify-center'>
    <img
      src={img}
      alt={imgAlt}
      class='rounded-3xl border-solid border-2 border-black'
    />
  </div>
  <h2 class='text-center font-display text-4xl py-9'>{title}</h2>
  <div>
    <slot />
  </div>
  <div class='flex justify-center pt-9'>
    <ProjectLinks github={github} site={site} />
  </div>
</section>
